<ion-view cache-view="false" ng-cloak>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="ion-content">

    <div class="logo">
      <img src="img/logo.png" style="width:100%;">
    </div>
    <div class="dash-cmp">
      <h4>{{company_name}}</h4>
    </div>
    <!--  <div class="start" ng-mouseover="open = true" ng-mouseleave="open = false">
      <img src="img/btn_start_nrm.png" style="width:75%;" ng-click="start()" ng-show="!open">
      <img src="img/btn_start_hvr.png" style="width:75%;" ng-click="start()" ng-show="open">
    </div> -->

    <div class="start">
      <img src="img/btn_start_nrm.png" style="width:75%;" ng-click="start()">
    </div>

    <div class="row social">
      <i class="icon ion-social-facebook" ng-click="sharefb('','','https://www.altiussolution.com/marketplace-data-feed-product-content-requirements/')"></i>
      <i class="icon ion-social-twitter" ng-click="sharetwitter('','','https://www.altiussolution.com/marketplace-data-feed-product-content-requirements/')"></i>
      <i class="icon ion-social-instagram" onclick="window.plugins.socialsharing.shareViaInstagram('Message via Instagram', 'https://www.google.nl/images/srpr/logo4w.png', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"></i>
   </div>
   
  </ion-content>
</ion-view>