<ion-view cache-view="false" hide-nav-bar="true">
  <ion-content class="ion-content">
    <div class="logo">
      <img src="img/logo.png" style="width:100%">
    </div>

    <div class="row content-header">
      <p>FORGOT PASSWORD</p>
    </div>

    <form name="log">

      <div class="group">
        <input class="inputMaterial" id="forgot_email" type="text"  ng-model="forget.mail_id" required>
        <span class="highlight"></span>
        <div class="label">Email&nbsp;id</div>
      </div>

      <div class="group">
        <input class="inputMaterial" id="forgot_password" type="password"  ng-model="forget.password" required>
        <span class="highlight"></span>
        <div class="label">Password</div>
      </div>

      <div class="group1">
        <button class="button button-block button-purple" id="forgot_button" ng-click='save()'> SAVE
        </button>
        <!-- <button class="button button-block button-purple" ng-disabled="log.$invalid" ng-click='login()'> SIGN IN
        </button> -->
      </div>

     

    </form>
  </ion-content>
</ion-view>