<ion-view cache-view="false" ng-controller="LoginCtrl">
	<ion-nav-title>
	  <span class="bar-stable"><strong class="header-title">MISCELLANEOUS</strong></span>
	</ion-nav-title>
	
	<h1 class="consultant-name">James</h1>
   <ion-content class="ion-content content-view" ng-class="{'animate-in-primary': data == 'swiperight' , 'animate-in-secondary': data == 'swipeleft' }">
    <div class="button-bar">
      <a class="button button-block" ng-class="{'button-circle': misc_bill == true}" ng-click="MiscBill()">Bill Rate</a>
      <a class="button button-block" ng-class="{'button-circle': misc_hour == true }" ng-click="MiscHour()">Hourly</a>
      <a class="button button-block" ng-class="{'button-circle': miscOne_time == true }" ng-click="MiscOne()">OneTime</a>
  	</div>

	  <div ng-show="misc_bill">
	  	<div class="row bill-content">
	  		<h2>{{min.mis_bill}}%</h2>
	  	</div>
	  	<div class="row bill-content">
	  		<p>HOURLY:&nbsp;<span class="pink">$32.93</span> </p>
	  	</div>

	  	<div class="row group1">
		  	<rzslider 
		  		 rz-slider-model="min.mis_bill"
		    	rz-slider-floor="MiscbillSlide.floor"
		    	rz-slider-ceil="MiscbillSlide.ceil">
		    </rzslider>
	  	</div>
	  </div>

	  <div ng-show="misc_hour" class="misc_hour">
	  	<div class="row group1">
	  		<input type="text" placeholder="$">
	  	</div>
	  </div>

	  <div ng-show="miscOne_time" class="miscOne_time">
	  	<div class="row group1">
	  		<input type="text" placeholder="$">
	  	</div>
	  </div>



  	<div class="row group1 border">
  	  <textarea placeholder="Misc notes" rows="4"></textarea>
  	</div>
   </ion-content>
  	<div class="add-icon">
  		<i class="icon ion-plus"></i>
  	</div>
    <div class="bar bar-footer">
      <!-- <div class="footer-title">Margin:&nbsp;<span class="title">${{marginDollar}}-{{marginPercentage}}%</span></div> -->

      <div class="row">
        <div class="col col-40 footer-title">
          Adj. Rate:<span>${{adjRate}}</span>
        </div>
        <div class="col col-60 footer-title">
          Margin:<span>${{marginDollar}}&nbsp;-&nbsp;{{marginPercentage}}%</span>
        </div>
      </div>
    </div>

</ion-view>
