<ion-view cache-view="false" ng-cloak>
  <ion-nav-title>
    <span class="bar-stable"><strong class="header-title">SALARY</strong></span>
  </ion-nav-title>

  <h1 class="consultant-name">{{candidatename}}</h1>

  <ion-content class="ion-content content-view salary-content" ng-class="{'animate-in-primary': data == 'swiperight' , 'animate-in-secondary': data == 'swipeleft' }">
    <!-- <div class="button-bar">
      <a class="button button-block" ng-class="{'button-circle': anual == true}" ng-click="anualButton()">Annual</a>
      <a class="button button-block" ng-class="{'button-circle': hour == true }" ng-click="hourlyButton()">Hourly</a>
      <a class="button button-block" ng-class="{'button-circle': bill == true }" ng-click="billButton()">Bill Rate</a>
    </div> -->

      <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> -->
      
    <div class="row bill-content">
      <h2>$<span ng-blur="salary(salarySlider.min)" editable-text="salarySlider.min"></span> </h2>
    </div>
    <div class="row bill-content">
      <div class="col Col-50">
        <p>HOURLY:&nbsp;<span class="pink">${{hour}}</span> </p>
      </div>
      <div class="col Col-50">
        <p>BILL RATE:&nbsp;<span class="pink">{{bill}}%</span> </p>
      </div>
    </div>

    <div class="row group1" >
       <rzslider  rz-slider-model="salarySlider.min" id="salerySlider" rz-slider-high="salarySlider.max" rz-slider-options="salarySlider">
       </rzslider>
    </div>


    <div class="per-diem">
      <p>Per Diem</p>
      <div class="row group-center">
        <div class="col col-100 col-50-align">
          <span>Hourly:</span>
          <input type="number" ng-model="perdiemSlider.min" id="sal_perdiem" max="100">
        </div>
      </div>
    </div>

    <div class="row group1">
      <rzslider rz-slider-model="perdiemSlider.min" id="periem_id" rz-slider-high="perdiemSlider.max" rz-slider-options="perdiemSlider">
       </rzslider>
    </div>

  </ion-content>

  <div class="bar bar-footer" ng-controller="LoginCtrl">
    <div class="row">
      <div class="col col-40 footer-title">
        Adj. Rate:<span>${{adjRate | number:2 }}</span>
      </div>
      <div class="col col-60 footer-title1">
        Margin:<span>${{marginDollar | number:2 }}&nbsp;|&nbsp;{{marginPercentage | number:2 }}%</span>
      </div>
    </div>
  </div>

</ion-view>