<ion-view cache-view="false">
  <ion-nav-title>
    <span class="bar-stable"><strong class="header-title">SETTINGS</strong></span>
  </ion-nav-title>

  <ion-content class="ion-content">
    <div class="row">
      <div class="col col-100">
        <div class="groupButton">
          <button class="button button-block button-white" ng-click="changePassword()" id="change_Page">
            Change Password<i class="icon ion-chevron-right group-icon_right"></i>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>