<ion-view cache-view="false">
	<ion-nav-title>
	  <span class="bar-stable"><strong class="header-title">COST SUMMARY</strong></span>
	</ion-nav-title>
	
		
	<div class="smry-consultant">
		<span>
			<h3>ARUN </h3>
			<p class="companyname">TOM Technology</p>
		</span>
		<span>
			<h2>James</h2>
		</span>
	</div>
   <ion-content class="ion-content content-view smry-content" ng-class="{'animate-in-primary': data == 'swiperight' , 'animate-in-secondary': data == 'swipeleft' }">
   		

   	<!-- 	 <center><h5>EMP CONTRIBUTION</h5></center>

   		 <div class="row">
   			<div class="col col-50">
	    	    <h6 class="sub-emp-text">Medical</h6>
	    	    <h4 class="emp-text">$32.92</h4>
		    </div>
		    <div class="col col-50">
		    	<h6 class="sub-emp-text">Dental</h6>
		    	<h4 class="emp-text">$32.92</h4>
		  	</div>
   		</div>
 -->
   		<!--  <center><h5>COST SUMMARY</h5></center> -->
   		 <div class="content-header">
	      	<p>COST SUMMARY</p>
	     </div>

	     <div class="smry-table">
	     	<div class="card-border">
	     		<table width="100%">
	     			<tr>
	     				<th>Salary</th>
	     				<td>$40.00</td>
	     			</tr>
	     			<tr>
	     				<th>PTO</th>
	     				<td>$2.00</td>
	     			</tr>
	     			<tr>
	     				<th>Fed Taxes</th>
	     				<td>$3.37</td>
	     			</tr>
	     			<tr>
	     				<th>State Taxes</th>
	     				<td>$0.11</td>
	     			</tr>
	     			<tr>
	     				<th>Visa</th>
	     				<td>-</td>
	     			</tr>
	     			<tr>
	     				<th>Perdiem</th>
	     				<td>-</td>
	     			</tr>
	     			<tr>
	     				<th>Med/Dent</th>
	     				<td>-</td>
	     			</tr>
	     			<tr>
	     				<th>Relo</th>
	     				<td>-</td>
	     			</tr>
	     			<tr>
	     				<th>Misc 1 Exp</th>
	     				<td>$1.83</td>
	     			</tr>
	     			<tr>
	     				<th>Finance Charges</th>
	     				<td>$1.83</td>
	     			</tr>
	     			<tr>
	     				<th>Corporate Insurance</th>
	     				<td>$0.50</td>
	     			</tr>
	     			<tr>
	     				<td>Total</td>
	     				<td>$46.96</td>
	     			</tr>
	     		</table>
	     	</div>
	     </div>

   		<div class="content-header">
	      	<p>ACTUAL MARGIN</p>
	      </div>
   		<!--  <center><h5>ACTUAL MARGIN</h5></center> -->
   		 <div class="row">
   			<div class="col col-50">
	    	    <div class="card-border">
	    	    	<h4 class="emp-text">$13.19</h4>
	    	    </div>
		    </div>
		    <div class="col col-50">
		    	<div class="card-border">
		    		<h4 class="emp-text">45%</h4>
		    	</div>
		  	</div>
   		 </div>


		<div class="content-header">
			<p>DESIRED MARGIN %</p>
		</div>
   		 <!-- <center><h5>BILL RATE RANGE</h5></center> -->
   		<!-- <div class="row bill-rate">
   			<div class="col col-60">
   				<div class="card-border">
		    	    <h6 class="percent-value">15%</h6>
		    	    <h5 class="doller-value">$25.75</h5>
   				</div>
		    </div>

   		</div> -->

   		<div class="row">
   			<div class="col col-50">
	    	    <div class="card-border">
	    	    	<h4 class="emp-text">$25.75</h4>
	    	    </div>
		    </div>
		    <div class="col col-50">
		    	<div class="card-border">
		    		<h4 class="emp-text">15%</h4>
		    	</div>
		  	</div>
   		</div>
   		

   		  <button class="button button-block email-btn" ng-click="email()">Email</button>


   </ion-content>

   <!--  <div class="bar bar-footer">
	   	<div class="col col-50">
	    	<button class="button button-blue button-footer">Margin Dollar:</button>
	    </div>
	    <div class="col col-50">
	    	<button class="button button-blue button-footer">Margin Percent:</button>
	  	</div>
	
	</div> -->

</ion-view>