<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>








<ion-tabs class="tabs-icon-top tabs-color-light">

  <ion-tab class="tab-border" icon-off="icons tab-live " icon-on="iconss tab-live " href="#/tab/consultant">
    <ion-nav-view name="consultant"></ion-nav-view>
  </ion-tab>

 

  <ion-tab class="tab-border" icon-off="icons ion-android-calendar" icon-on="iconss ion-android-calendar" href="#/tab/pto">
    <ion-nav-view name="pto"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border" icon-off="icons ion-ios-location-outline" icon-on="iconss ion-ios-location" href="#/tab/relocation">
    <ion-nav-view name="relocation"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border"  icon-off="icons ion-flame" icon-on="iconss ion-fireball" href="#/tab/insurance">
    <ion-nav-view name="insurance"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border" icon-off="icons ion-cash" icon-on="iconss ion-cash" href="#/tab/misc">
    <ion-nav-view  name="misc"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border"  icon-off="icons ion-social-usd-outline" icon-on="iconss ion-social-usd" href="#/tab/salary">
    <ion-nav-view name="salary"></ion-nav-view>
  </ion-tab>

   <ion-tab class="tab-border" icon-off="icons ion-android-checkbox-outline" icon-on="iconss ion-android-checkbox" href="#/tab/summary">
    <ion-nav-view  name="summary"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</ion-view>
