<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>


<ion-tabs class="tabs-icon-top tabs-color-light" tabs-swipable>

  <ion-tab class="tab-border" icon-off="icons user-off" icon-on="iconss user-on" href="#/tab/consultant">
    <ion-nav-view name="consultant"></ion-nav-view>
  </ion-tab>

 

  <ion-tab class="tab-border" icon-off="icons calendar-off" icon-on="iconss calendar-on" href="#/tab/pto">
    <ion-nav-view name="pto"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border" icon-off="icons location-off" icon-on="iconss location-on" href="#/tab/relocation">
    <ion-nav-view name="relocation"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border"  icon-off="icons sheild-off" icon-on="iconss sheild-on" href="#/tab/insurance">
    <ion-nav-view name="insurance"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border" icon-off="icons wallet-off" icon-on="iconss wallet-on" href="#/tab/misc">
    <ion-nav-view  name="misc"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-border"  icon-off="icons bill-off" icon-on="iconss bill-on" href="#/tab/salary">
    <ion-nav-view name="salary"></ion-nav-view>
  </ion-tab>

   <ion-tab class="tab-border" icon-off="icons check-off" icon-on="iconss check-on" href="#/tab/summary">
    <ion-nav-view  name="summary"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</ion-view>
