<ion-view cache-view="false" ng-controller="LoginCtrl">
	<ion-nav-title>
	  <span class="bar-stable"><strong class="header-title">SELECT VISA SATATUS</strong></span>
	</ion-nav-title>
	
   <ion-content class="ion-content">
    <div class="row" ng-repeat="i in ['H1-New/Xfer','H1 Contn..','GC Holder','US Citizen']">
        <button class="button button-block button-white" ng-click="backVisa(i)">
        <i class="icon ion-chevron-left group-icon_left"></i>
          {{i}} 
        </button>
    </div> 

   </ion-content>


</ion-view>
