/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);*/


.groupText  {
  position:relative; 
  margin-bottom: 35px;
  margin-top: 10px; 
  margin-left: 10px;
  margin-right: 10px;
  
}

.groupButton  { 
  position:relative; 
  margin-bottom: 35px; 
/*  margin-left: 5px;
  margin-right: 5px;*/
  width:100%;
}

.group        { 
  position:relative; 
  margin-bottom: 35px; 
  margin-left: 30px;
  margin-right: 30px;
  /*border-bottom: 1px #c2c2c2 solid;*/
}

.group  input{
  width: 100%;
}

.group1        { 
  position:relative; 
  width:100%;
  padding: 0px 30px;
}

.inputMaterial        {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  background: transparent;
  border-bottom: 1px solid #c3c3c3!important;
}
.inputMaterial:focus        {
  border-bottom:1px solid #d85b7e!important;
}

.label          {
  color:#000; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;

}

/* active state */
.inputMaterial:focus ~ .label, .inputMaterial:valid ~ .label    {
  top:-20px;
  font-size:14px;
  color: #d75b7e;
  background: transparent;

}

/* BOTTOM BARS ================================= */


/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
    /*border-bottom:1px solid #000;*/
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;

}

/* ANIMATIONS ================ */






 

