
.sub-title-text{
	color: grey;
}
.title-text{
	color: black;
	font-weight: bold;
}
.center-border{
    border-left: 1px solid #bfbfbf;
}
.percent-value{
	margin: 0px 10px;
	color: #d75b7e;
	line-height: 1;
	font-weight: bold;
}	
.doller-value{
	color: #514d4d;
	margin-bottom: 2px;
}
.sub-emp-text{
	color: #f00fed;
	line-height: .1em;
	margin: 0px 8px;
}
.emp-text{
	color: black;
	font-weight: bold;
	text-align: center;
}
.cost-text{
	color: grey;
}
.cost-total-text{
	color: #f00fed;
	font-weight: bold;
}
.email-btn{
    color: white;
    background-color: #5153a3;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px !important;
    min-height: 35px;
    line-height: 30px;
}
.bar.bar-assertive {
    border-color: #5153a3;
    background-color: #5153a3;
    background-image: none;
    color: #fff;
    text-align: center;
    padding: 70px 30px !important;
}
.bar.bar-assertive img{
	width: 100%;
}
